
<h1>Customer</h1>
 
<table>
  <tr>
    
    <th>Email</th>
    <th>Customer_id</th>
  </tr>
 <% @stripe_customres.each do |charge| %>
    <tr>
      <td><%= charge.email %></td>
      <td><%= charge.id %></td>
      <td><%= link_to 'New', new_charge_path %></td>
    </tr>
  <% end %>
  
</table>